* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 130px;
  left: -190px;
}

.add-button {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: -70px;
}

.delete-button {
  cursor: pointer;
}

.task-list {
  height: 70vh;
  width: 30vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.task {
  min-height: 50px;
  width: 320px;
  margin: 10px 0px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.task-input {
  font-size: 24px;
  color: gray;
  border-style: none;
}

.task-input:focus {
  outline: none;
}

.input {
  min-height: 50px;
  width: 320px;
  margin-top: 20px;
  margin-left: -10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: gray;
  font-size: 24px;
}

.task-list::-webkit-scrollbar {
  width: 10px;
}
 
.task-list::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 100px;
}
